{% extends "default.html" %}
{% load static %}

{% block title %}<title>Cash Out</title>{% endblock %}
{% block title2 %}Cash Out{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'cash.css' %}">
{% endblock %}

{% block body %}
	<h1>Thanks for playing the Investment Game!</h1>
	<div class='space'></div>
	<h2>Your total winnings are</h2>
	<div class="wrapper">
		<p class="highlight">${{winnings}}</p>
	</div>
	<h2>Your HIT code is</h2>
	<div class="wrapper">
		<p class="highlight">{{user.code}}</p>
	</div>
	<h2>Please paste this code into the Mechanical Turk browser tab to finish the task</h2>

	<div class='space'></div>
	<div class="appreciation">
		<p>Dear Participant,</p>
		<p>I would like to thank you for your participation in this study entitled "Social Behavior in a Web-Based Investment Game". As a reminder, the purpose of this study is to observe the strategies that new and experienced players adopt when playing the game, with the long-term goal of understanding how the brain uses learning to make social decisions.</p>
		<p>Please remember that any data pertaining to you as an individual participant will be kept confidential.  Once all the data are collected and analyzed for this project, I plan on sharing this information with the research community through seminars, conferences, presentations, and journal articles.  If you are interested in receiving more information regarding the results of this study, or would like a summary of the results, please provide your email address, and when my dissertation is completed, anticipated by September 2023, I will send you the information.  In the meantime, if you have any questions about the study, please do not hesitate to contact me by email or telephone as noted below. </p>
		<p>This study has been reviewed and received ethics clearance through a University of Waterloo Research Ethics Committee (ORE#42531). If you have questions for the Committee contact the Office of Research Ethics, at 1-519-888-4567 ext. 36005 or <a href="oreceo@uwaterloo.ca">oreceo@uwaterloo.ca</a>. If you have any questions or would like additional information about the study's scientific goals, contact <a href="mailto:pduggins@uwaterloo.ca?subject=Question%20regarding%20Investment%20Game%20Experiment">pduggins@uwaterloo.ca.</a></p>
		<p class="signature"> Peter Duggins</p>
		<p class="signature"> University of Waterloo</p>
		<p class="signature"> Department of Systems Design Engineering</p>
	</div>

	<div class="link-wrapper">
		<a class="link" href="{% url 'home' %}">Home</a>
	</div>
{% endblock %}


{% block javascript %}
	<script type="text/javascript" src="{% static 'common.js' %}"></script>
	<script type="text/javascript" src="{% static 'cash.js' %}"></script>
{% endblock %}
