{% extends "default.html" %}
{% load static %}

{% block title %}
	<title>Consent and Registration Form</title>
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'consent.css' %}">
{% endblock %}

{% block body %}

	<h1>Consent and Registration Form</h1>
	<p>By providing your consent, you are not waiving your legal rights or releasing the investigator(s) or involved institution(s) from their legal and professional responsibilities. I have read the information presented in the information letter about a study conducted by Peter Duggins, under the supervision of Dr. Chris Eliasmith, University of Waterloo. I have had the opportunity to ask questions related to the study and have received satisfactory answers to my questions and any additional details.I was informed that participation in the study is voluntary and that I can withdraw this consent by informing the researcher.</p>
	<p>I am aware my responses to survey questions and my moves in the investment game <strong>will be recorded</strong> and associated with my MTurk ID.  I give permission for the use of these anonymous data in any thesis or publication that comes from this research. I agree of my own free will to participate in the study, and consent by providing my MTurk ID as a signature below.</p>

	{% if user.doneConsent %}
		<div id="form-wrapper">
			<p id="form-disclaimer">Signed and dated</p>
			<p id="username">{{ user.username }}</p>
			<p id="doneConsent">{{ user.doneConsent }}</p>
			<div id="link-wrapper"><a id="link" href="{% url 'home' %}">Home</a></div>
		</div>
	{% else %}
		<div id="form-wrapper">
			<p id="form-disclaimer">To agree and create an account, fill out the form below</p>
			<form method="post">
				{% csrf_token %}
				<table>
					<tr><td>{{ form.username }}</td></tr>
					<tr><td>{{ form.password1 }}</td></tr>
					<tr><td>{{ form.password2 }}</td></tr>
				</table>
				<input hidden id="submit" type="submit" />
			</form>
			{% if form.errors %}
				{% for field in form %}
					{% for error in field.errors %}
						<p class="error">{{ error|escape }}</p>
					{% endfor %}
				{% endfor %}
				{% for error in form.non_field_errors %}
					<p class="error">{{ error|escape }}</p>
				{% endfor %}
			{% endif %}
			<div id="submit-wrapper">
				<button id=submit-button> <label for="submit" tabindex="0">Sign and Register</label></button>
			</div>
		</div>
	{% endif %}


{% endblock %}