<!DOCTYPE html>
<html lang="en">

<head>
	{% block title %}{% endblock %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'default.css' %}">
	{% block css %}{% endblock %}
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="{% static 'extern/jquery-3.5.1.min.js' %}"></script>
</head>

<body>
	{% block body %}{% endblock %}
	{% block javascript %}{% endblock %}
</body>