{% extends "default.html" %}
{% load static %}

{% block title %}
	<title>Game</title>
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'game.css' %}">
{% endblock %}

{% block body %}
	<h1 class="top">Game</h1>
	<p id="aTotal" class="total left">$0</p>
	<p id="total" class="total center">Total</p>
	<p id="bTotal" class="total right">$0</p>
	<p id="aNow" class="available left">$0</p>
	<p id="currently" class="available center">Currently Available</p>
	<p id="bNow" class="available right">$0</p>
	<!-- <p id="nameA" class="player left">You</p> -->
	<!-- <p id="nameB" class="player right">Them</p> -->
	<img id="imgA" class="image left" src="{% static 'user1.png' %}">
	<img id="imgB" class="image right" src="{% static 'user3.png' %}">
	<div id="transfer">
		<div id="cash">
			<p id="sendA">$0</p>
			<p id="sendB">$0</p>
		</div>
		<form id="form">
			{% csrf_token %}
			<div id="slider" class="ui-slider-handle"></div>
		</form>
		<input type="submit" id="submit" updateURL="{% url 'updateGame' %}" value="send">
	</div>
	<div id="loading" class="center">
		<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
	</div>	
	<a id="home" class="available left" href="{% url 'home' %}">Home</a>
	<p id="flair" class="available center">Isn't This Fun!</p>
	<a id="play-again" class="available right" href="{% url 'game' %}">Play Again</a>

{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		//pass django variables to external javascript
		let userRole = "{{game.userRole}}";
		let capital = Number("{{game.capital}}");
		let match = Number("{{game.match}}");
		let userGives = "{{userGives}}"
		let userKeeps = "{{userKeeps}}"
		let userRewards = "{{userRewards}}"
		let agentGives = "{{agentGives}}"
		let agentKeeps = "{{agentKeeps}}"
		let agentRewards = "{{agentRewards}}"
		let userA = "{% static 'userA.png' %}"
		let userB = "{% static 'userB.png' %}"
		let lockedA = "{% static 'lockedA.png' %}"
		let lockedB = "{% static 'lockedB.png' %}"
	</script>
	<script src="{% static 'game.js' %}"></script>
{% endblock %}
