{% extends "default.html" %}
{% load static %}

{% block title %}
	<title>Home</title>
{% endblock %}
{% block title2 %}Home{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}


{% block body %}
	<div id="information-box" class="box" href="{% url 'information' %}">
		<div class='w'>
			<img id="information-img" class="image" src="{% static 'information.svg' %}" alt="information icon">
			<h2 id="information-text" class="text">Information</h2>
		</div>
	</div>
	<div id="consent-box" class="box" href="{% url 'consent' %}">
		<div class='w'>
			<img id="consent-img" class="image" src="{% static 'consent.svg' %}" alt="consent icon">
			<h2 id="consent-text" class="text">Consent</h2>
		</div>
	</div>
	<div id="tutorial-box" class="box" href="{% url 'tutorial' %}">
		<div class='w'>
			<img id="tutorial-img" class="image" src="{% static 'tutorial.svg' %}" alt="tutorial icon">
			<h2 id="tutorial-text" class="text">Tutorial</h2>
		</div>
	</div>
	<div id="game-box" class="box" href="{% url 'game' %}">
		<div id=gb1><h2 id=gt1></h2></div>
		<div id='gb2'>
			<div class='w'>
				<img id="game-img" src="{% static 'game.svg' %}" alt="game icon">
				<!-- <h2 id="gt2" class="text">Game</h2> -->
			</div>
		</div>
		<div id=gb3><h2 id=gt3></h2></div>
	</div>
	<div id="survey-box" class="box" href="{% url 'survey' %}">
		<div class='w'>
			<img id="survey-img" class="image" src="{% static 'survey.svg' %}" alt="survey icon">
			<h2 id="survey-text" class="text">Survey</h2>
		</div>
	</div>
	<div id="cash-box" class="box" href="{% url 'cash' %}">
		<div class='w'>
			<img id="cash-img" class="image" src="{% static 'cash.svg' %}" alt="cash icon">
			<h2 id="cash-text" class="text">HIT Code / Cash Out</h2>		
		</div>
	</div>
	<div id="feedback-box" class="box" href="{% url 'feedback' %}">
		<div class='w'>
			<img id="feedback-img" class="image" src="{% static 'feedback.svg' %}" alt="feedback icon">
			<h2 id="feedback-text" class="text">Feedback</h2>		
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="{% static 'common.js' %}"></script>
	<script type="text/javascript" src="{% static 'home.js' %}"></script>
{% endblock %}
