<meta content="width=device-width,initial-scale=1" name="viewport" />

<h1>Social Behavior in a Web-Based Investment Game</h1>

<section class="container" id="Description">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  <div class="panel panel-primary">
    <a class="panel-heading" href="javascript:void(0);" id="descriptionTrigger">
      <strong>Description</strong>
      <span class="collapse-text">(Click to expand)</span>
    </a>
  <div class="panel-body" id="descriptionBody">
    <p>This study, conducted by researchers at the University of Waterloo (Ontario, Canada) investigates learning and decision-making in an interactive two-player game. <strong>As a participant in this study, you will be asked to fill out a short survey, complete a game tutorial, then play several rounds of the ``investment game’’</strong>. The tutorial and initial games require approximately 20 minutes, for which you will receive a fixed reward of $2.00 (USD) upon submitting the HIT.</p>
    <p>Beyond this, you may continue playing games to earn high-paying bonus rewards: each subsequent game will last approximately one minute and earn a reward of $0.06, plus an additional $0.02 bonus for good performance. There is a 100-game cap. The total payout is thus <strong>$2 for playing the required games, $8 for playing all games, and $10 for playing all games with good performance</strong>. You may choose to cash-out at any time, receiving bonus payment based on the number of games played.</p>
    <p><strong>Make sure to leave this window open until you submit the HIT code</strong>. When you are finished with the initial games, you will be provided with the HIT code, and should return to this page to paste the code into the box below. Afterwards, you may continue playing games until you choose to cash out, at which point a secondary bonus payment will automatically be delivered through the MTurk system. Payment will be received within one week of submitting the HIT and/or requesting bonus payment via the “cash out” option.</p>
    <p>For further questions about the study, please see the “Study Information” box below. Additional inquiries about the study or payment may be sent to Peter Duggins at <a href="mailto:pduggins@uwaterloo.ca?subject=Question%20regarding%20IGWeb%20Experiment">pduggins@uwaterloo.ca.</a>.</p>
  </div>
  </div>
  </div>
  </div>
</section>

<section class="container" id="StudyInformation">
  <div class="row">
  <div class="col-xs-12 col-md-12">
  <div class="panel panel-primary">
    <a class="panel-heading" href="javascript:void(0);" id="informationTrigger">
      <strong>Study Information</strong>
      <span class="collapse-text">(Click to expand)</span>
  </a>
  <div class="panel-body" id="informationBody">
    <p>You are invited to participate in a research study investigating how people learn to play a web-based investment game against various non-human and human opponents. The purpose of the study is to observe the strategies that new and experienced players adopt when playing the game, with the long-term goal of understanding how the brain uses learning to make social decisions. This study is being undertaken as part of Peter Duggins’ PhD research.</p>
    <p class="question">Who is Running the Study?</p>
      <p><strong>Faculty Supervisor</strong>: Chris Eliasmith, PhD. <a href="https://uwaterloo.ca/centre-for-theoretical-neuroscience/people-profiles/chris-eliasmith"  title="U Waterloo Profile">Director of Center for Theoretical Neuroscience, University of Waterloo</a>. Office:  Engineering 7 - 6324, Phone: 519-888-4567 x42638, Email: celiasmith@uwaterloo.ca</p>
      <p><strong>Student Investigator</strong>: Peter Duggins, <a href="http://compneuro.uwaterloo.ca/people/peter-duggins.html" title="U Waterloo Profile">PhD candidate. Department of Systems Design Engineering, University of Waterloo</a>. Office: Engineering 7 - 6339, Email: pduggins@uwaterloo.ca</p>
    <p class="question">What does participation involve?</p>
    <p>As a participant in this study, you would be asked to fill out a short survey, watch a tutorial, then play the ``investment game’’ against software opponents. The game involves repeatedly exchanging virtual money with a software opponent, and the goal is to maximizing personal profits. The orientation session requires approximately 20 minutes, and afterwards participants may continue playing games (~60 seconds each) to earn high-paying bonus rewards. Each game move made by the participant <strong>will be recorded</strong> in the website’s database for research analysis. </p>
    <p class="question">What is the Investment Game?</p>
    <p>The investment game is a two-player game that involves repeatedly exchanging virtual money. In each round of the game, player A receives $10, then invests some fraction of this capital into player B, keeping the rest. Suppose player A invests $7 and keeps $3. Player B then receives <strong>three times</strong> the original investment, in this case $21. Finally, player B returns some fraction of this money to player A, say $9. A’s earnings for this round is (10-7+9=12), and B’s earnings is (0+21-9=12). The game repeats for ten rounds, and each player’s final score is their total earnings across all rounds.</p>
    <p>In the investment game, greater rewards are earned if both players invest/return generously, but each player will only do so if they trust their opponent to reciprocate in future rounds. For instance, A may always choose to keep the initial capital for a sure “greedy” payoff. However, to obtain the greatest profits, A must risk investing in B. In contrast, B cannot profit if A is greedy, but stands to gain more by being greedy if A does invest heavily. Assessing, predicting, and responding to an opponent’s strategy is thus the central challenge of the game.</p>
    <p class="question">Who may participate in the study?</p>
    <p>In order to participate in the study you must be able to read and understand English and have an Amazon Mechanical Turk account.</p>
    <p class="question">Is participation in the study voluntary?</p>
    <p>Your participation in this study is voluntary. You may decline to answer any survey question(s) you prefer not to answer. You may withdraw from the study after orientation by emailing <a href="mailto:pduggins@uwaterloo.ca?subject=Question%20regarding%20IGWeb%20Experiment">pduggins@uwaterloo.ca</a>, providing your MTurk ID, and requesting that your data be deleted. </p>
    <p class="question">Will I receive anything for participating in the study?</p>
    <p>The orientation session requires approximately 20 minutes, for which participants will receive a fixed reward of $2.00 (USD). The validation code for the MTurk HIT will become available after orientation. Beyond this, participants may continue playing games to earn high-paying bonus rewards: each subsequent game will last approximately one minute and earn a reward of $0.06, plus an additional $0.02 bonus for good performance. There is a 100-game cap. <strong>The total payout is thus $2 for playing the required games, $8 for playing all games, and $10 for playing all games with good performance</strong>. Participants may choose to cash-out at any time, receiving bonus payment based on the number of games played.</p>
    <p class="question">What are the possible benefits of the study?</p>
    <p>Participation in this study may not provide any personal benefit to you, apart from the remuneration listed above. I hope the data from the study will help build a better understanding of how humans learn to make cooperative decisions in social contexts. See the Research Details page for additional information.</p>
    <p class="question">What are the risks associated with the study?</p>
    <p>There are no known or anticipated risks associated with participation in this study. If a survey question, or playing the investment game, makes you uncomfortable, you can choose not to answer or to stop participating by closing the web browser. See above for more details on voluntary participation.</p>
    <p class="question">Will my identity be known to others?</p>
    <p>No identifying information is collected during the course of the study. Participant data is associated with their MTurk ID in a secure database, and only those investigators associated with this study will have access to the records.</p>
    <p class="question">Will my information be kept confidential?</p>
    <p>The database of participants IDs, survey responses, and game moves will be secured on a password-protected server on the University of Waterloo campus. Research published as a result of data analysis will be submitted to scientific journals, but all user data will remain anonymous. We will keep our study records for a minimum of 7 years, and all records will be destroyed according to University of Waterloo policy.</p>
    <p class="question">Who is sponsoring/funding the study?</p>
    <p>This study is funded through a Canadian Graduate Scholarship and University of Waterloo funds.</p>
    <p class="question">Has the study received ethics clearance?</p>
    <p>This study has been reviewed and received ethics clearance through a University of Waterloo Research Ethics Committee (ORE#42531). If you have questions for the Committee contact the Office of Research Ethics, at 1-519-888-4567 ext. 36005 or oreceo@uwaterloo.ca.</p>
    <p class="question">Who should I contact if I have questions regarding my participation in the study?</p>
    <p>If you have any questions regarding this study, or would like additional information to assist you in reaching a decision about participation, contact Peter Duggins at <a href="mailto:pduggins@uwaterloo.ca?subject=Question%20regarding%20IGWeb%20Experiment">pduggins@uwaterloo.ca.</a></p>
  </div>
  </div>
  </div>
  </div>
</section>

<section class="container" id="MOAR">
  <div class="row" id="workContent">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
  <table class="white inherit table table-condensed table-bordered">
  	<colgroup>
  		<col class="col-xs-4 col-md-4" />
  		<col class="col-xs-8 col-md-8" />
  	</colgroup>
  	<tbody>
  		<tr>
  			<td><label>Link:</label></td>
  			<td><a class="dont-break-out" href="IGWeb.com" target="_blank">IGWeb.com</a></td>
  		</tr>
  	</tbody>
  </table>
  <div class="form-group">
    <label class="code-help" for="surveycode"> Provide the survey code here:</label>
    <input class="form-control" id="surveycode" name="surveycode" placeholder="e.g. 123456" required="" type="text" />
  </div>
  </div>
  </div>
</section>

<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" integrity="sha384-IS73LIqjtYesmURkDE9MXKbXqYA8rvKEp/ghicjem7Vc3mGRdQRptJSz60tvrB6+" rel="stylesheet" />
<style type="text/css">
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    background: #d1d1d1;
  }
  h1 {
    font-size: 48px;
    text-align: center;
  }
  p {
    margin-bottom: 30px;
  }
  p.red {
    text-align: center;
    color: red;
  }
  p.question {
    font-size: 28px;
    text-align: center;
    text-decoration: underline;
  }

  #descriptionTrigger, #informationTrigger{
    color:#fff;
    display: block;
    text-decoration: none;
  }
  #submitButton{
    white-space: normal;
  }
  .image{
    margin-bottom: 15px; 
  }
  .dont-break-out {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .white {
    background: white;
  }
  .inherit {
    font-size: inherit;
    font-style: inherit;
  }
</style>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" integrity="sha384-s1ITto93iSMDxlp/79qhWHi+LsIi9Gx6yL+cOKDuymvihkfol83TYbLbOw+W/wv4" crossorigin="anonymous"></script>
<script>
  $(document).ready(function() {
    // Instructions expand/collapse
    var content1 = $('#descriptionBody');
    var content2 = $('#informationBody');
    var trigger1 = $('#descriptionTrigger');
    var trigger2 = $('#informationTrigger');
    content1.hide();
    content2.hide();
    $('.collapse-text').text('(Click to expand)');
    trigger1.click(function(){
      content1.toggle();
      var isVisible = content1.is(':visible');
      if(isVisible){
        $('.collapse-text').text('(Click to collapse)');
      }else{
        $('.collapse-text').text('(Click to expand)');
      }
    });
    trigger2.click(function(){
      content2.toggle();
      var isVisible = content2.is(':visible');
      if(isVisible){
        $('.collapse-text').text('(Click to collapse)');
      }else{
        $('.collapse-text').text('(Click to expand)');
      }
    });
  });
</script>