{% extends "default.html" %}
{% load static %}

{% block title %}
	<title>Password Reset</title>
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'reset.css' %}">
{% endblock %}

{% block body %}

	<div id="form-wrapper">
		<h1>Password Reset</h1>
		<form method="post">
			{% csrf_token %}
			<table>
				<tr><td>{{ form.username }}</td></tr>
				<tr><td>{{ form.password1 }}</td></tr>
				<tr><td>{{ form.password2 }}</td></tr>
			</table>
			<input hidden id="submit" type="submit" />
		</form>
		{% if form.errors %}
			{% for field in form %}
				{% for error in field.errors %}
					<p class="error">{{ error|escape }}</p>
				{% endfor %}
			{% endfor %}
			{% for error in form.non_field_errors %}
				<p class="error">{{ error|escape }}</p>
			{% endfor %}
		{% endif %}
		<div id="submit-wrapper">
			<button id=submit-button> <label for="submit" tabindex="0">Submit</label></button>
		</div>
	</div>
	<div id="link-wrapper"><a id="link" href="{% url 'login' %}">Back</a></div>

{% endblock %}