{% extends "default.html" %}
{% load static %}

{% block title %}
	<title>Stats</title>
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'stats.css' %}">
{% endblock %}

{% block body %}
	<h1>Game Statistics</h1>
	<p id="home" class="center"><a href="{% url 'home' %}">Home</a></p>
	{% if skip %}
		<p id="skip" class="center">Play more bonus games to generate statistics...</p>
	{% else %}
		<div id="figure">{{figure|safe}}</div>
		<p id="score" class="center"><strong>Score</strong> is calculated by averaging rewards for each turn</p>
		<p class="center"><strong>Generosity</strong> is calculated by averaging the ratio of money sent to money available for each turn</p>
	{% endif %}
{% endblock %}
