{% extends "default.html" %}
{% load static %}

{% block title %}<title>Stats</title>{% endblock %}
{% block title2 %}Game Statistics{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'stats.css' %}">
{% endblock %}

{% block body %}
	<p id="score" class="center"><strong>Score</strong> is calculated by averaging point earned on each turn</p>
	<div class="images">
		<img id="figScoreUser" src="{% static figScoreUser %}">
		<img id="figScoreAll" src="{% static figScoreAll %}">
	</div>
	<p id="gen" class="center"><strong>Generosity</strong> is calculated by averaging the ratio of points sent to points available for each turn</p>
	<div class="images">
		<img id="figGenUser" src="{% static figGenUser %}">
		<img id="figGenAll" src="{% static figGenAll %}">
	</div>
	<div class="link-wrapper">
		<a class="link" href="{% url 'home' %}">Home</a>
	</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="{% static 'common.js' %}"></script>
	<script type="text/javascript" src="{% static 'stats.js' %}"></script>
{% endblock %}
