{% extends "default.html" %}
{% load static %}

{% block title %}
	<title>Survey</title>
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'survey.css' %}">
{% endblock %}

{% block body %}
	<h1>Survey</h1>
	<h3>Please complete the survey. All responses are optional</h3>
	<form method="POST">
		{% csrf_token %}
		<table>
			<tr>
				<td class="f1">{{ form.age.label_tag }}</td>
				<td class="f2">{{ form.age }}</td>
			</tr>
			<tr>
				<td class="f1">{{ form.gender.label_tag }}</td>
				<td class="f2">{{ form.gender }}</td>
			</tr>
			<tr>
				<td class="f1">{{ form.income.label_tag }}</td>
				<td class="f2">{{ form.income }}</td>
			</tr>
			<tr>
				<td class="f1">{{ form.education.label_tag }}</td>
				<td class="f2">{{ form.education }}</td>
			</tr>
			<tr>
				<td class="f1">{{ form.veteran.label_tag }}</td>
				<td class="f2">{{ form.veteran }}</td>
			</tr>
		</table>
		<br>

		<h3>Rate how strongly you agree or disagree with the following statement</h3>

		<table>
			<tr>
				<td class="f1">{{ form.empathy.label_tag }}</td>
				<td class="f2">{{ form.empathy }}</td>
			</tr>
			<tr>
				<td class="f1">{{ form.risk.label_tag }}</td>
				<td class="f2">{{ form.risk }}</td>
			</tr>
			<tr>
				<td class="f1">{{ form.altruism.label_tag }}</td>
				<td class="f2">{{ form.altruism }}</td>
			</tr>
		</table>

		<div id="submitWrapper"><input id="submitButton" type="submit" value ="Submit"/> </div>

		<a class="link" href="{% url 'home' %}">Home</a>

	</form>

{% endblock %}