{% extends "default.html" %}
{% load static %}

{% block title %}<title>Survey</title>{% endblock %}
{% block title2 %}Survey{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'survey.css' %}">
{% endblock %}

{% block body %}
	<form method="POST">
		<h2 id='t1'>Please complete the survey. All responses are optional</h2>
		{% csrf_token %}
		<table>
			<tr>
				<td class="f1">{{ form.age.label_tag }}</td>
				<td class="f2">{{ form.age }}</td>
			</tr>
			<tr>
				<td class="f1">{{ form.gender.label_tag }}</td>
				<td class="f2">{{ form.gender }}</td>
			</tr>
			<tr>
				<td class="f1">{{ form.income.label_tag }}</td>
				<td class="f2">{{ form.income }}</td>
			</tr>
			<tr>
				<td class="f1">{{ form.education.label_tag }}</td>
				<td class="f2">{{ form.education }}</td>
			</tr>
			<tr>
				<td class="f1">{{ form.veteran.label_tag }}</td>
				<td class="f2">{{ form.veteran }}</td>
			</tr>
		</table>
		<br>

		<h2 id='t2'>Rate how strongly you agree or disagree with the following statement</h2>

		<table>
			<tr>
				<td class="f1">{{ form.empathy.label_tag }}</td>
				<td class="f2">{{ form.empathy }}</td>
			</tr>
			<tr>
				<td class="f1">{{ form.risk.label_tag }}</td>
				<td class="f2">{{ form.risk }}</td>
			</tr>
			<tr>
				<td class="f1">{{ form.altruism.label_tag }}</td>
				<td class="f2">{{ form.altruism }}</td>
			</tr>
		</table>

		<input hidden id="submit" type="submit" />
	</form>
	<div class="button-wrapper">
		<button class="button"> <label for="submit"><div><p>Submit</p></div></label></button>
	</div>

{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="{% static 'common.js' %}"></script>
	<script type="text/javascript" src="{% static 'survey.js' %}"></script>
{% endblock %}
