{% extends "default.html" %}
{% load static %}

{% block title %}<title>Tutorial</title>{% endblock %}
{% block title2 %}Tutorial{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'game.css' %}">
	<link rel="stylesheet" href="{% static 'tutorial.css' %}">
{% endblock %}

{% block body %}
	<div id="loadGame">
		<div class='w'>
			<img id="loadCoin" src="{% static 'full-coin.svg' %}">
			<h1 id='loadText'>Loading Tutorial Part 1/2...</h1>
		</div>
	</div>
	<div id="bar-area">
		<h2 hidden id="turn-text" class='bar-text'>Turn</h2>
		<h2 hidden id="turn-box" hidden class='bar-box'>0/5</h2>
		<h2 hidden id="ts-text" class='bar-text'>Their Score</h2>
		<h2 hidden id="ts-box" hidden class='bar-box'>0</h2>
		<h2 hidden id="ys-text" class='bar-text'>Your Score</h2>
		<h2 hidden id="ys-box" hidden class='bar-box'>0</h2>
		<h2 hidden id="bonus-text" class='bar-text'>Bonus</h2>
		<h2 hidden id="bonus-box" hidden class='bar-box'>0₵</h2>
	</div>
	<div id="coin-area">
		<img id="c1a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c2a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c3a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c4a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c5a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c6a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c7a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c8a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c9a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c10a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c11a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c12a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c13a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c14a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c15a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c16a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c17a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c18a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c19a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c20a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c21a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c22a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c23a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c24a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c25a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c26a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c27a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c28a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c29a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c30a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c1b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c2b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c3b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c4b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c5b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c6b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c7b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c8b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c9b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c10b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c11b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c12b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c13b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c14b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c15b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c16b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c17b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c18b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c19b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c20b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c21b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c22b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c23b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c24b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c25b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c26b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c27b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c28b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c29b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c30b" class='coin' src="{% static 'full-coin.svg' %}">
	</div>
	<div id="player-area">
		<h1 hidden id="nameA"></h1>
		<h1 hidden id="nameB"></h1>
		<button hidden id="submit">Send</button>
		<img hidden id="imgA" src="{% static 'userA.svg' %}">
		<img hidden id="imgB" src="{% static 'userB.svg' %}">
		<div hidden id="slider-wrapper" class="active" min="0" val="0" max="10">
			<div id="slider-left" class='flipped'></div>
			<div id="slider-thumb"></div>
			<div id="slider-right"></div>
		</div>
		<h1 hidden id="loading">They are thinking...</h1>
		<h1 hidden id="warning" class="red">Please give at least 1</h1>
		<h2 id="sendA"></h2>
		<h2 id="sendB"></h2>
		<form id="form">{% csrf_token %}</form>
	</div>
	<div id="log-area"></div>
	<div id="game-over-area">
		<h1 hidden id="flair-text">Isn't this fun!</h1>
		<div id="play-again-wrapper"><a hidden id="play-again-text" href="{% url 'game' %}">New Game</a></div>
		<h1 hidden id="game-over-text">Game Over</h1>
	</div>
	<div hidden id="n-area">
	<!-- <div id="n-area"> -->
		<div id="n0" class="note">
			<p class='n-text'>Welcome to the Investment Game Tutorial!</p>
		</div>
		<div id="n1" class="note">
			<p class='n-text'>The Investment Game is a two-player game</p>
			<p class='n-text'>The left player is the <span class='teal'>investor</span> and the right player is the <span class="pink">trustee</span></p>
			<p class='n-text'>At the start of the game, you will be assigned to one of these players</p>
		</div>
		<div id="n2" class="note">
			<p class='n-text'>Each game has 5 turns</p>
			<p class='n-text'>On each turn, the <span class='teal'>investor</span> and the <span class="pink">trustee</span> will each make one move</p>
			<p class='n-text'>Let's go through an example turn, with <span class='teal'>you</span> as the investor</p>
		</div>
		<div id="n3" class="note">
			<p class='n-text'>First, the <span class='teal'>investor</span> will get 10 coins</p>
			<p class='n-text'>These coins represent money that the player may "invest" in the <span class="pink">trustee</span> or keep for <span class='teal'>themselves</span></p>
		</div>
		<div id="n4" class="note">
			<p class='n-text'>Try it now!</p>
			<p class='n-text'>Use the slider to select how many coins you will <span class="teal">keep</span> and how many you will <span class="pink">give</span> to the trustee</p>
		</div>
		<div id="n4_2" class="note-ex">
			<p class='n-text'>You'll notice that the <span class="pink">trustee</span> gets <span class="red">more</span> coins than you're giving away ... press <span class="fake_send">Send</span> to learn more</p>			
		</div>
		<div id="n5" class="note">
			<p class='n-text'>When the <span class='teal'>investor</span> gives away coins, the <span class="pink">trustee</span> always gets <span class='red'>3 times</span> that many coins!</p>	
			<p class='n-text'>Figuratively, the <span class="pink">trustee</span> uses the investor's gift as "startup money" to (somehow) make a <span class="red">large profit</span></p>
		</div>
		<div id="n6" class="note">
			<p class='n-text'>It is now the <span class="pink">trustee</span>'s' turn...</p>	
			<p class='n-text'>The trustee will <span class='teal'>give back</span> some of their coins to the investor and <span class="pink">keep the rest</span></p>
		</div>
		<div id="n7" class="note">
			<p class='n-text'>The turn is now over</p>	
			<p class='n-text'>Coins collected by the <span class='teal'>investor</span> and <span class="pink">trustee</span> are added to their respective scores</p>
			<p class='n-text'>... and the next turn begins!</p>
		</div>
		<div id="n8" class="note">
			<p class='n-text'>As <span class="teal">your score</span> increases past hidden <span class="black">thresholds</span> (e.g. 60 coins), you will unlock <span class="fake_bonus">bonus rewards</span></p>
			<p class='n-text'>To add these rewards to your real-money winnings, you must <span class="red">finish the game</span></p>
			<p id="tut2" href='{% url "tutorial2" %}' class='n-text'>Next, we'll discuss strategy and explain how to complete the HIT</p>
		</div>
	</div>

	<!-- Let's talk strategy -->
{% endblock %}


{% block javascript %}
	<script src="{% static 'common.js' %}"></script>
	<script src="{% static 'tutorial.js' %}"></script>
{% endblock %}
