{% extends "default.html" %}
{% load static %}

{% block title %}
	<title>Tutorial</title>
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'tutorial.css' %}">
{% endblock %}

{% block body %}
	<h1 class="title">TUTORIAL</h1>
	<div id="m1" class="main">
		<div id='m1a' class="row">
			<h2 class="text">The investment game is a two player, turn based game</h2>
			<img id="img1a" src="{% static 'two-player.png' %}">
		</div>
		<div id='m1b' class="row">
			<img id="img1b" src="{% static 'sending.png' %}">
			<h2 class="text">Each turn, one player sends points to the other</h2>
		</div>
		<div id='m1c' class="row">
			<div>
				<h2 class="text">Sending points represents doing somebody a favor,<br> &nbsp &nbsp &nbsp investing in a startup, or lending money to a friend</h2>
			</div>
			<img id="img1c" src="{% static 'dollar-coin.png' %}">
		</div>
	</div>

	<div id="m2" class="main">
		<h2 id="m2a" class="top-text">Each round of the game has <strong>four</strong> steps</h2>
		<h2 id="aTotalm2" class="total left">$0 — Total A</h2>
		<h2 id="bTotalm2" class="total right">Total B — $0</h2>
		<h2 id="aNowm2" class="available left">$0 — Available A</h2>
		<h2 id="bNowm2" class="available right">Available B — $0</h2>
		<h2 class="player left">A (Alfred)</h2>
		<h2 class="player right">B (Bubba)</h2>
		<h2 id="m2c" class="bottom-text">Each game has <strong>five</strong> rounds</h2>
		<div class='center'>
			<h3 id="m2b1" class="center-text">1. Alfred receives $10</h3>
			<h3 id="m2b2" class="center-text">2. Alfred sends some money to Bubba</h3>
			<h3 id="m2b3" class="center-text">3. Bubba receives 3X this amount</h3>
			<h3 id="m2b4" class="center-text">4. Buba sends some money back to Alfred</h3>
			<h3 id="m2b5" class="center-text">[5.] Update score and repeat</h3>
		</div>
	</div>

	<div id="m3" class="main">
		<h2 id="m3a" class="top-text">There is a tradeoff between <strong>immediate reward</strong> and <strong>long-term reputation</strong></h2>
		<h2 id="aTotalm3" class="total left">$0 — Total A</h2>
		<h2 id="bTotalm3" class="total right">Total B — $0</h2>
		<h2 id="aNowm3" class="available left">$0 — Available A</h2>
		<h2 id="bNowm3" class="available right">Available B — $0</h2>
		<h2 class="player left">A (Alfred)</h2>
		<h2 class="player right">B (Bubba)</h2>
		<div class='center'>
			<h3 id="m3c2" class="center-text"><strong>Generous — </strong>Alfred $15, Bubba $15</h3>
			<h3 id="m3d2" class="center-text"><strong>Greedy — </strong>Alfred $0, Bubba $30</h3>
		</div>
		<h3 id="m3c" class="bottom-text">If A and B are both <strong>generous</strong>, each will score moderately</h3>
		<h3 id="m3d" class="bottom-text">If one player is <strong>greedy</strong>, they will score big at the expense of the other</h3>
		<h2 id="m3e" class="bottom-text">There is no optimal strategy — you must learn through <strong>trial and error</strong>!</h2>
	</div>

	<div id="m4" class="main">
		<h2 id="m4a"class="top-text">You will be randomly assigned to player A or B</h2>
		<h2 id="m4c"class="top-text">Use the <strong>slider</strong> to choose an amount, then press <strong>send</strong> to submit</h2>
		<h2 id="m4d"class="top-text"><strong>Wait</strong> while the other player makes a choice</h2>
		<h2 id="m4e"class="top-text">A grayed out slider indicates <strong>their move</strong></h2>
		<h2 id="m4f"class="top-text">The website will <strong>record</strong> both players' moves and final scores</h2>
		<h2 id="aTotalm4" class="total left">$0 — Total A</h2>
		<h2 id="bTotalm4" class="total right">Total B — $0</h2>
		<h2 id="aNowm4" class="available left">$0 — Available A</h2>
		<h2 id="bNowm4" class="available right">Available B — $0</h2>
		<h2 class="player left">A (You)</h2>
		<h2 class="player right">B (Computer)</h2>
		<div id="cash">
			<h2 id="sendA">$0</h2>
			<h2 id="sendB">$0</h2>
		</div>
		<input type="range" min="0" max="10" value="5" step="1" id="slider">
		<input type="submit" id="submit" value="send">
		<div id="loading">
			<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
		</div>
		<h2 id="m4g" class="bottom-text">Leaving an incomplete game will result in a score of <strong>0</strong></h2>
	</div>

	<div id="m5" class="main">
		<h2 id="m5a">After finishing the Tutorial, you will play <strong>5 Required Games</strong></h2>
		<img id="img5" src="{% static 'required.png' %}">
		<h3 id="m5b" class="extra-text">These games are for practice — you will play against <strong>computers</strong> and your scores will <strong>not</strong> count</h3>
		<h3 id="m5c" class="extra-text">After the Required Games, you may select Cash Out to receive your <strong>HIT code for ${{FIXED_REWARD}}</strong></h3>
	</div>

	<div id="m6" class="main">
		<h2 id="m6a">You may also continue playing Bonus Games for <strong>additional high-paying rewards</strong></h2>
		<img id="img6" src="{% static 'bonus.png' %}">
		<h3 id="m6b" class="extra-text">You will earn ${{BONUS_RATE}} per bonus game, plus ${{PERFORMANCE_RATE}} if you score higher than {{PERFORMANCE_THR}} points</h3>
		<h3 id="m6c" class="extra-text">If you play quickly, that's almost minimum wage :O</h3>
	</div>

	<div id="m7" class="main">
		<h2 id="m7a">Check out how you're doing on the <strong>Game Stats</strong> page</h2>
		<img id="img7" src="{% static 'stats.png' %}">
		<h3 id="m7b" class="extra-text">You can compare your scores to other players on the site</h3>
		<!-- <h3 id="m7c" class="extra-text">Nice.</h3> -->
	</div>

	<div id="m8" class="main">
		<h2 id="m8a">When you're ready, select <strong>Cash Out</strong> to receive your HIT code or request your bonus</h2>
		<img id="img8" src="{% static 'cash.png' %}">
		<h3 id="m8b" class="extra-text">Paste your <span class="HIT">HIT Code</span> into your MTurk Browser Tab to complete the task</h3>
		<h3 id="m8c" class="extra-text">Afterwards, play more bonus games, then click <strong>Cash Out and Finish</strong> to receive bonus payment</h3>
	</div>

	<div id="m9" class="main">
		<h3 id="m9a">If you have questions, concerns, or suggestions, please leave a comment on the <strong>Feedback</strong> page</h3>
		<img id="img9" src="{% static 'feedback.png' %}">
		<h3 id="m9b">That's it! Click the button below to finish the tutorial and start playing games</h3>
		<form id="m9c" method="POST">
			{% csrf_token %}
			<input hidden id="finish-btn" type="submit"/>
		</form>
	</div>

	<div id="bottom-bar">
		<div class="navigation-wrapper">
			<button type="button" disabled id="back">Back</button>
			<button id="finish-link" class="button"> <label for="finish-btn">Finish Tutorial</label></button>
			<a id="home-link" class="link" href="{% url 'home' %}">Home</a>
			<button type="button" id="next">Next</button>
		</div>
		<div id="progress-bar-bg">
			<div id="progress-bar-fg"></div>	
		</div>
	</div>

{% endblock %}

{% block javascript %}
	<script src="{% static 'tutorial.js' %}"></script>
{% endblock %}
