{% extends "default.html" %}
{% load static %}

{% block title %}<title>Tutorial Part 2</title>{% endblock %}
{% block title2 %}Tutorial{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'game.css' %}">
	<link rel="stylesheet" href="{% static 'tutorial2.css' %}">
{% endblock %}

{% block body %}
	<div id="loadGame">
		<div class='w'>
			<img id="loadCoin" src="{% static 'full-coin.svg' %}">
			<h1 id='loadText'>Loading Tutorial Part 2/2...</h1>
		</div>
	</div>
	<div id="bar-area">
		<div id='turn-box'>
			<div hidden id="turn-box1" class='turn-box'><h1 id="turn-text" class='bar-text'>Turn</h1></div>
			<div hidden id="turn-box2" class='turn-box'></div>
			<div hidden id="turn-box3" class='turn-box'></div>
			<div hidden id="turn-box4" class='turn-box'></div>
			<div hidden id="turn-box5" class='turn-box'></div>
		</div>
		<div id="ts-box">
			<h1 hidden id="ts-text" class='bar-text'>Their Score</h1>
			<h1 hidden id="ts-num" class='bar-num'>0</h1>			
		</div>
		<div hidden id="ys-box">
			<h1 hidden id="ys-text" class='bar-text'>Your Score</h1>
			<h1 hidden id="ys-num" class='bar-num'>0</h1>			
		</div>
		<div hidden id="bonus-box">
			<h1 hidden id="bonus-num" class='bar-num'>0₵</h1>			
		</div>
	</div>
	<div id="coin-area">
		<img id="c1a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c2a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c3a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c4a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c5a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c6a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c7a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c8a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c9a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c10a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c11a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c12a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c13a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c14a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c15a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c16a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c17a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c18a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c19a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c20a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c21a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c22a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c23a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c24a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c25a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c26a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c27a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c28a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c29a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c30a" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c1b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c2b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c3b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c4b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c5b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c6b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c7b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c8b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c9b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c10b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c11b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c12b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c13b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c14b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c15b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c16b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c17b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c18b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c19b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c20b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c21b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c22b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c23b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c24b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c25b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c26b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c27b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c28b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c29b" class='coin' src="{% static 'full-coin.svg' %}">
		<img id="c30b" class='coin' src="{% static 'full-coin.svg' %}">
	</div>
	<div hidden id="send-area">
		<button hidden id="submit">Send</button>
		<h1 id="sendA"></h1>
		<h1 id="sendB"></h1>
	</div>
	<div hidden id="player-area">
		<img hidden id="imgA" src="">
		<img hidden id="imgB" src="{% static 'robotB.svg' %}">
		<div hidden id="slider-wrapper" class="active" min="0" val="0" max="10">
			<div id="slider-left" class='flipped'></div>
			<div id="slider-thumb"></div>
			<div id="slider-right"></div>
		</div>
		<h1 hidden id="loading">They are thinking...</h1>
		<h1 hidden id="warning"></h1>
		<form hidden id="form">{% csrf_token %}</form>
	</div>
	<div id="log-area">
		<p id='c1r1' class='lr1 lc1'></p>
		<p id='c1r2' class='lr2 lc1'><span id='c1r2a'></span> <span id='c1r2b'></span> <span id='c1r2c'></span></p>
		<p id='c1r3' class='lr3 lc1'><span id='c1r3a'></span> <span id='c1r3b'></span> <span id='c1r3c'></span> <span id='c1r3d'></span></p>
		<p id='c1r4' class='lr4 lc1'><span id='c1r4a'></span> <span id='c1r4b'></span> <span id='c1r4c'></span></p>
		<p id='c1r5' class='lr5 lc1'><span id='c1r5a'></span> <span id='c1r5b'></span> <span id='c1r5c'></span> <span id='c1r5d'></span></p>
		<p id='c1r6' class='lr6 lc1'><span id='c1r6a'></span> <span id='c1r6b'></span></p>
		<p id='c1r7' class='lr7 lc1'><span id='c1r7a'></span> <span id='c1r7b'></span></p>
		<p id='c2r1' class='lr1 lc2'></p>
		<p id='c2r2' class='lr2 lc2'><span id='c2r2a'></span> <span id='c2r2b'></span> <span id='c2r2c'></span></p>
		<p id='c2r3' class='lr3 lc2'><span id='c2r3a'></span> <span id='c2r3b'></span> <span id='c2r3c'></span> <span id='c2r3d'></span></p>
		<p id='c2r4' class='lr4 lc2'><span id='c2r4a'></span> <span id='c2r4b'></span> <span id='c2r4c'></span></p>
		<p id='c2r5' class='lr5 lc2'><span id='c2r5a'></span> <span id='c2r5b'></span> <span id='c2r5c'></span> <span id='c2r5d'></span></p>
		<p id='c2r6' class='lr6 lc2'><span id='c2r6a'></span> <span id='c2r6b'></span></p>
		<p id='c2r7' class='lr7 lc2'><span id='c2r7a'></span> <span id='c2r7b'></span></p>
	</div>
	<div hidden id="n-area">
		<div id="n0" class="note">
			<p class='n-text'>In the Investment Game, there is a tradeoff between <span class="teal">immediate reward</span> and <span class='pink'>long-term reputation</span></p>
			<p class='n-text'>To demonstrate this, we'll play two mini-games</p>
			<p class='n-text'>In the first game, you'll be the <span class="teal">investor</span> and we'll force you to make <span class="red">generous investments</span></p>
			<p class='n-text'>In the second game, you'll be the <span class="pink">trustee</span> and we'll force you to make <span class="red">greedy returns</span></p>
		</div>
		<div id="n1" class="note">
			<p class='n-text'>You've just finished your first game!</p>
			<p class='n-text'>By investing generously, both <span class="teal">you</span> and the <span class="pink">trustee</span> have collected a good number of coins</p>
			<p class='n-text'>Your final score is <span id='s1a' class="teal">X</span> and the trustee's score is <span id='s1b'class="pink">Y</span></p>
			<p class='n-text'>If, instead, you had chosen to keep <span class="teal">everything</span> and invest <span class="pink">nothing</span>, the final scores would have been <span class="teal">20</span> and <span class="pink">0</span></p>
			<p class='n-text'>This shows that investing <span class="red">generously</span> can benefit both players ... but what if the <span class="pink">trustee</span> gets <span class="red">greedy?</span></p>
		</div>
		<div id="n2" class="note">
			<p class='n-text'>In this game, you'll play as the <span class="pink">trustee</span></p>
			<p class='n-text'>We'll force you to make <span class="red">greedy</span> decisions, and see what happens ...</p>
		</div>
		<div id="n3" class="note">
			<p class='n-text'>When the <span class="pink">trustee</span> is <span class="red">greedy</span>, they can collect many coins on a single turn</p>
			<p class='n-text'>However, this action may anger the <span class="teal">investor</span>, causing them to give less in the future</p>
			<p class='n-text'>Check the <span class="black">Game Log</span> at the bottom to see this for yourself</p>
		</div>
		<div id="n4" class="note">
			<p class='n-text'>There is no optimal strategy in the Investment Game — you must learn the best way to deal with each opponent through <span class='red'>trial and error</span>!</p>
			<p class='n-text'>When playing games, you will face a variety of opponents without knowing their identity</p>
			<p class='n-text'>Our research study is focused on how <span class="red">you learn with experience</span>, so try your best, and earn <span class="green">more money</span> for playing well!</p>
		</div>
		<div id="n5" class="note" href='{% url "home" %}'>
			<p class='n-text'>To complete the study, you must <span class="red">complete {{required}} games</span>. View your progress in the upper left.</p>
			<p class='n-text'>Each game will earn you <span class="green">$0.10 - $0.40</span>, depending on your score</p>
			<p class='n-text'>Receive your <span class='black'>HIT code</span> by selecting <span class="pink">Cash Out</span> from the upper right</p>
			<p class='n-text'>You must complete the Survey for <span class="gray">Cash Out</span> to become available. The <span class="teal">Survey</span> can be accessed through the Home page.</p>
			<p class='n-text'>You have completed the tutorial and may now start playing games. Happy investing!</p>
		</div>
	</div>
{% endblock %}


{% block javascript %}
	<script src="{% static 'common.js' %}"></script>
	<script src="{% static 'tutorial2.js' %}"></script>
{% endblock %}
