h2 {text-align: center; font-weight: normal;}
.space {margin: 5% 0;}
.teal {color: var(--myTeal);}
.pink {color: var(--myPink);}
.red {color: var(--myRed);}

.wrapper {
	width: 100%;
	/*margin-left: 40%;*/
	display: flex;
	justify-content: center;
}

.highlight {
	padding: 1%;
	background-color: var(--myForeground);
	text-align: center;
	border: 1pt solid black;
}

#exit {
	text-align: center;
	color: var(--myTeal);
	font-size: 200%;
	text-decoration: underline;
}

.appreciation {
	text-align: justify;
	background: var(--myLightGray);
	padding: 1%;
}

.signature {
	margin: 0.25% 3%;
}