body {
	margin-top: 5vh;
	height: 90vh;
	text-align: justify;
}

#form-disclaimer {
	text-align: center;
	color: var(--myRed);
}

#form-wrapper {
	font-family: inherit;
	display: flex-box;
	width: 40vw;
	height: 25vh;
	margin: 5vh 18vw;
	padding: 2vh 2vw;
	border: 1pt solid black;
	background-color: var(--myForeground);
}

form {
	display: flex;
	justify-content: center;
	font-size: 150%;
}

input, button {
	font-size: inherit;
	font-family: inherit;
}

input {
	margin: 0.5vh 0;
	background: var(--myLightGray);
	border: 1pt solid black;
}

.error {
	color: var(--myRed);
	text-align: center;
}

#username, #doneConsent {
	padding: 1%;
	width: 40%;
	margin-left: 30%;
	background: var(--myLightGray);
	border: 1pt solid black;
}