:root {
	--myBlue: #314f9cff;
	--myBackground: white;
	--myForeground: #f5ffff;
	--myYellow: #f0e200ff;
	--myTeal: #66c3d2ff;
	--myPink: #d8388bff;
	--myGray: #a3a3a3;
	--myRed: #990000;
	--myWhite: #ffffff;
	--myLightGray: #f0f0f0;
	--myLightBlue: #4063bfff;
	--myDarkGreen: #006926;
	font-size: 12pt;
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jaldi-700 - latin */
@font-face {
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('jaldi-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('jaldi-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


body {
	font-size: 12pt;
	width: 80vw;
	height: 100vh;
	margin: 0 10vw;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-color: var(--myBackground);
	color: var(--myBlue);
}

h1 {
	margin: 0;
	font-weight: normal;
	text-align: center;
}

h2 {
	margin: 0;
	font-weight: normal;
}

h3 {
	margin: 0;
	font-weight: normal;
}

input, button, form, select {
	font-size: inherit;
	font-family: 'Roboto', sans-serif;
	color: var(--myBlue);
	margin: 1vh 0; 
}

button {
	font-size: inherit;
	font-family: inherit;
	padding: 1vh 1vw;
	box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
	border: 1pt solid black;
	color: var(--myWhite);
	background-color: var(--myBlue);
	padding: 0;
}
button:hover:enabled {
	box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}
label > div {width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;}
label > div > p {margin: 0; height: min-content; width: 100%;}
/*button:active {
	color: var(--myYellow);
	border: none;
	box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}*/

.link-wrapper, .button-wrapper {
	margin: 2% 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

a, a:visited, a:link {
	color: var(--myBlue);
	text-decoration: none;
}


.body {
	height: 80vh;
	margin: 0;
	margin-top: 5vh;
}

@media (max-width: 900px), (max-height: 900px) {
	.body {font-size: 10pt;}
}
@media (max-width: 600px), (max-height: 700px) {
	.body {font-size: 8pt;}
}
@media (max-width: 400px), (max-height: 500px) {
	.body {font-size: 6pt;}
}
@media (max-width: 300px) {
	.body {font-size: 4pt;}	
}