:root {
	--myBlue: #314f9cff;
	--myBackground: white;
	--myForeground: #f5ffff;
	--myYellow: #f0e200ff;
	--myTeal: #66c3d2ff;
	--myPink: #d8388bff;
	--myGray: #a3a3a3;
	--myRed: #990000;
	--myWhite: #ffffff;
	--myLightGray: #f0f0f0;
	--myLightBlue: #4063bfff;
	--myDarkGreen: #006926;
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jaldi-700 - latin */
@font-face {
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('jaldi-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('jaldi-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


body {
	width: 80vw;
	height: 100vh;
	margin: 0 10vw;
	padding: 0;
	font-size: 12pt;
	font-family: 'Roboto', sans-serif;
	background-color: var(--myBackground);
	color: var(--myBlue);
}

/*@media (max-width: 900px), (max-height: 900px) {
	body {font-size: 9pt;}
}

@media (max-width: 600px), (max-height: 600px) {
	body {font-size: 6pt;}
}
*/


h1 {
	margin: 0;
	font-size: 250%;
	font-weight: normal;
	text-align: center;
}

h2 {
	margin: 0;
	font-size: 140%;
	font-weight: normal;
}

h3 {
	margin: 0;
	font-size: 110%;
	font-weight: normal;
}

input, button, form {
	font-size: 12pt;
	font-family: 'Roboto', sans-serif;
	color: var(--myBlue);	
}

button {
	font-size: 150%;
	font-family: inherit;
	padding: 1vh 1vw;
	box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
	border: 1pt solid black;
}
button:hover:enabled {
	box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.link-wrapper, .button-wrapper {
	margin: 2% 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

a, a:visited, a:link {
	color: var(--myBlue);
}

.header {
	display: grid;
	grid-template-rows: 33% 33% 33%;
	grid-template-columns: 5vw 28.3vw 33.3vw 33.4vw;
	height: 7vh;
	width: 100vw;
	padding: 1.5vh 0;
	margin-top: 0;
	margin-bottom: 5vh;
	margin-left: -10vw;
	margin-right: 0;
	border-bottom: 1pt solid black;
	background-color: var(--myLightGray);
}

.body {
	height: 80vh;
	margin: 0;
	margin-top: 5vh;
}

.headerI {
	grid-column: 1;
	grid-row: 1/4;
	display: grid;
	justify-content: center;
}
#imgI {
	height: 100%;
	z-index: 10;
}
.headerL {
	grid-column: 2;
	text-align: left;
}

.headerC {
	/*font-family: 'Jaldi', sans-serif;*/
	grid-column: 3;
	grid-row: 1;
	text-align: center;
}

.headerR {
	grid-column: 4;
	text-align: right;
	padding-right: 1vw;
}

.headerT {
	grid-row: 1;
}

.headerM {
	grid-row: 2;
}

.headerB {
	grid-row: 3;
}

#cash-link {
	color: var(-myGray);
}

#headerU {color: black;}
#headerG {color: var(--myRed);}
#headerW {color: var(--myDarkGreen);}