#id_feedback {
	background: var(--myForeground);
	width: 50vw;
	height: 30vh;
	margin: 5vh 15vw;
	border: 1pt solid black;
	font-size: 150%;
}

.center {
	margin: 1%;
	text-align: center;
}

.link-wrapper, .button-wrapper {
	margin: 3vh 0;
}