#id_feedback {
	background: var(--myWhite);
	width: 60%;
	margin-top: 5%;
	margin-left: 20%;
	border: solid black;
}

input, form, button {
	font-size: inherit;
	font-family: inherit;
}

#submit-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 3%;
}

.slider-wrapper {
	width: 100%;
	height: 20%;
}