#id_feedback {
	background: var(--myForeground);
	width: 60%;
	margin: 4% 20%;
	border: 1pt solid black;
}

.center {
	margin: 1%;
	text-align: center;
}

.link-wrapper, .button-wrapper {
	margin: 3vh 0;
}