/*Overall Layout*/
body {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 200px 200px 200px;
	background: #f5ffff;
	color: #314f9cff;
	text-align: center;
	align-content: space-between;
}
html {
	margin-left: 10%;
	margin-right: 10%;
}

.top {
	grid-row: 1;
}
.middle {
	grid-row: 2;
}
.bottom {
	grid-row: 3;
}
.left {
	grid-column: 1;
	color: #66c3d2ff;
}
.center {
	grid-column: 2;
}
.right {
	grid-column: 3;
	color: #d8388bff;
}
.totals {
	height: 20%;
	border-bottom: 1px solid black;
}
.nows {
	height: 20%;
	margin-top: 30%;
}

#imgA, #imgB {
	margin: 25%;
	width: 50%;
	height: 50%;
}
#cash {
	margin: 0 10%;
	grid-row: 2;
	grid-column: 2;
	display: flex;
	justify-content: space-between;
}
#sendA {
	color: #66c3d2ff;
}
#sendB {
	color: #d8388bff;
}
#form {
	margin-left: 10%;
	width: 80%;
	background: #a3a3a3;
}
#submit {
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	background: #f0e200ff;
	margin-top: 10%;
	border: 1px solid black;
	border-radius: 30px;
	width: 30%;
	box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}
#submit:hover {
	cursor: pointer;
	box-shadow: 3px 3px rgba(0, 0, 0, 0.6);
}
#submit:disabled {
	background: white;
	box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
	cursor: auto;
	color: #a3a3a3;
}
#form {
	border: 0px solid black;
	border-radius: 30px;
}
#slider {
	margin-top: 0.7%;
	margin-left: -5%;
	width: 10%;
	border-radius: 30px;
	background: #f0e200ff;
	border: none;
}
#gameOver {
	margin: 0;
	margin-top: 22%;
	font-weight: bold;
}
#playerA, #playerB {
	height: 20%;
	margin-top: 60%;
}
#nameA, #nameB {
	height: 20%;
	margin-top: 70%;
}
#home {
	width: 30%;
	height: 20%;
	margin-left: 35%;
	color: #314f9cff;
}
#flair {
	color: #a3a3a3;
	font-family: 'Jaldi', sans-serif;
}
#play-again {
	width: 40%;
	height: 20%;
	margin-left: 30%;
	color: #314f9cff;
}

/* Animations */
#animated {
	width: min-content;
}

/* Loading Bar, from https://loading.io/css/ */
#loading {
	margin-top: 15%;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #a3a3a3;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
