/*Overall Layout*/
body {
	display: grid;
	grid-template-rows: 25% 20% 20% 25% 10%;
}

.top {
	height: 100%;
	grid-row: 1;
	grid-column: 1;
}
.total {
	height: 100%;
	margin: 0;
	grid-row: 2;
	grid-column: 1;
}
.available {
	height: 100%;
	margin: 0;
	grid-row: 3;
	grid-column: 1;
}
.image {
	height: 100%;
	width: 15%;
	margin: 0;
	grid-row: 4;
	grid-column: 1;
}
.player {
	height: 100%;
	margin: 0;
	grid-row: 5;
	grid-column: 1;
}
.bottom {
	height: 100%;
	grid-row: 6;
	grid-column: 1;
}


.left {
	color: var(--myTeal);
	text-align: left;
	font-weight: bold;
}
.center {
	text-align: center;
}
.right {
	color: var(--myPink);
	text-align: right;
	font-weight: bold;
}

#transfer {
	grid-column: 1;
	grid-row: 4;	
	height: 100%;
	width: 50%
	margin: 0;
	margin-left: 25%;
	margin-right: 25%;
}
#cash {
	height: 30%;
	margin-top: 0;
	/*margin-bottom: 10%;*/
	display: flex;
	justify-content: space-between;
}
#sendA {margin: 0; color: var(--myTeal);}
#sendB {margin: 0; color: var(--myPink);}
#form {
	display: block flex;
	height: 30%;
	width: 100%;
	border: none;
	border-radius: 30px;
	background: var(--myGray);
}
#slider {
	height: 100%;
	grid-column: 1;
	grid-row: 4;
	height: 140%;
	width: 5%;
	/*margin-top: 0.7%;*/
	margin-left: -2.5%;
	border-radius: 30px;
	background: var(--myYellow);
	border: none;
}
#submit {
	margin: 0;
	padding: 0;
	height: 30%;
	margin-left: 40%;
	margin-top: 3%;
	width: 20%;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	background: var(--myYellow);
	border: solid black;
	border-radius: 30px;
	box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}
#submit:hover {
	cursor: pointer;
	box-shadow: 3px 3px rgba(0, 0, 0, 0.6);
}
#submit:disabled {
	background: var(--myWhite);
	box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
	cursor: auto;
	color: var(--myGray);
}

/* Loading Bar, from https://loading.io/css/ */
#loading {
	margin: 0;
	grid-column: 1;
	grid-row: 4;
	height: 50%;
	width: 50%;
	margin-left: 25%;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--myGray);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

#imgB {
	margin-left: 85%;
}
#home {
	grid-row: 3;
	grid-column: 1;
	width: 10%;
}
#flair {
	grid-row: 3;
	grid-column: 1;
	width: 20%;
	margin-left: 40%;
	font-family: 'Jaldi', sans-serif;
}
#play-again {
	grid-row: 3;
	grid-column: 1;
	width: 15%;
	margin-left: 85%
}
#nameA, #nameB {
	font-weight: normal;
}

#gameOver {
	margin: 0;
	margin-top: 10%;
	width: 100%;
	grid-row: 4;
	grid-column: 1;
	text-align: center;
	font-weight: bold;
}