.body {
	display: grid;
	grid-template-rows: repeat(3, 33%);
	grid-template-columns: repeat(3, 1fr);
}

#logout-link:link, #logout-link:visited {
	text-decoration: none;
	color: var(--myBlue);
}

.box {
	width: 90%;
	height: 90%;
	margin-left: 5%;
	margin-right: 5%;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	background: var(--myWhite);
	box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
	background-color: var(--myForeground);
	border: 1pt solid black;
}
.box:hover {
	box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}
.image {
	margin-top: 2%;
	height: 70%;
	width: 70%;
}
.text {
	margin-top: 2%;
	margin-left: 10%;
	width: 80%;
}

#information-box {
	grid-row: 1;
	grid-column: 1;	
}
#consent-box {
	grid-row: 1;
	grid-column: 2;	
}
#survey-box {
	grid-row: 1;
	grid-column: 3;	
}
#tutorial-box {
	grid-row: 2;
	grid-column: 1/4;	
}
#game-box {
	grid-row: 2;
	grid-column: 1/4;	
}
#bottom-wrapper {
	grid-row: 3;
	grid-column: 1/4;
	display: grid;
	grid-template-rows: 1;
	grid-template-columns: repeat(2, 50%);
}
#cash-box {
	grid-row: 1;
	grid-column: 1;	
}
#feedback-box {
	grid-row: 1;
	grid-column: 2;	
}

.inactive {
	opacity: 0.5;
	cursor: not-allowed;
}
.inactive:hover {
	box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}