
body {
	text-align: justify;
}

.main {
	padding: 2%;
	margin-bottom: 2%;
	height: 50vh;
	border: 1pt solid black;
	overflow: auto;
	background-color: var(--myForeground);
}

.center {
	text-align: center;
	/*background: var(--myWhite);*/
}