body {
	height: 80vh;
	width: 80vw;
}

#body-wrapper {
	height: 100vh;
	display: flex;
	align-items: center;
}

#box {
	display: grid;
	grid-template-rows: 10vh 10vh 5vh 5vh 5vh;
	grid-template-columns: 20vw 20vw;
	width: 40vw;
	height: 35vh;
	margin: 0 20vw;
	/*padding: 2vh 2vw;*/
	border: 1pt solid black;
	background-color: var(--myForeground);
}

#title-wrapper {
	grid-row: 1;
	grid-column: 1/3;
	display: flex;
	align-items: center;
	justify-content: center;
}
#form-wrapper {
	grid-row: 2;
	grid-column: 1/3;
	display: flex;
	align-items: center;
	justify-content: center;
}
#error-wrapper {
	grid-row: 3;
	grid-column: 1/3;
	display: flex;
	align-items: center;
	justify-content: center;
}
#button-wrapper {
	grid-row: 4;
	grid-column: 1/3;
	display: flex;
	align-items: center;
	justify-content: center;
}
#reset-wrapper {
	grid-row: 5;
	grid-column: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
#register-wrapper {
	grid-row: 5;
	grid-column: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.error {
	font-family: 'Roboto', sans-serif;
	color: var(--myRed);
	text-align: center;
}

form {margin: 0; display: flex; justify-content: center; font-size: 150%;}
input {font-size: 150%; font-family: inherit; width: 25vw; background: var(--myLightGray); border: 1pt solid black;}
button {font-size: 150%; font-family: inherit; padding: 1vh 1vw;}
a {font-size: 150%;}