#body-wrapper {
	display: flex-box;
	background: var(--myWhite);
	width: 60%;
	margin-top: 5%;
	margin-left: 20%;
	border: 1pt solid black;
	background-color: var(--myForeground);
}

form {
	display: flex;
	justify-content: center;
	font-size: 150%;
}

input, button {
	font-size: inherit;
	font-family: inherit;
}

input {
	background: var(--myLightGray);
	border: 1pt solid black;
}

.error {
	font-family: 'Roboto', sans-serif;
	color: var(--myRed);
	text-align: center;
}

.flair {
	font-family: 'Roboto', sans-serif;
	color: var(--myBlue);
	text-align: center;	
}

h1 {
	margin-bottom: 2vh;
}