body {
	height: 80vh;
	width: 80vw;
}

#body-wrapper {
	height: 100vh;
	display: flex;
	align-items: center;
}

#box {
	display: grid;
	grid-template-rows: 10vh 10vh 10vh 5vh 5vh;
	width: 40vw;
	height: 35vh;
	margin: 0 20vw;
	/*padding: 2vh 2vw;*/
	border: 1pt solid black;
	background-color: var(--myForeground);
}

#title-wrapper {
	grid-row: 1;
	font-size: 150%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#form-wrapper {
	grid-row: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
#error-wrapper {
	grid-row: 5;
	display: flex;
	align-items: center;
	justify-content: center;
}
#button-wrapper {
	grid-row: 3;
	display: flex;
	align-items: center;
	justify-content: center;
}
#reset-wrapper {
	grid-row: 4;
	grid-column: 1;
	margin-left: 7.5vw;
	width: calc(100% - 7.5vw);
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
#register-wrapper {
	grid-row: 4;
	grid-column: 1;
	margin-right: 7.5vw;
	width: calc(100% - 7.5vw);
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.error {
	font-family: 'Roboto', sans-serif;
	color: var(--myRed);
	text-align: center;
}

form {display: flex; justify-content: center;}
input {width: 25vw;}
button {width: 25vw; height: 5vh;}
/*label {width: 25vw; height: 5vh;}*/
a {font-size: 150%;}
/*button > label {width: 100%; height: 100%;}*/
/*button > label > p {height: 100%;}*/