body {
	height: 80vh;
	width: 80vw;
}

#body-wrapper {
	display: flex-box;
	width: 20vw;
	margin-top: 20vh;
	margin-left: 28vw;
	padding: 2vh 2vw;
	border: 1pt solid black;
	background-color: var(--myForeground);
}

form {
	display: flex;
	justify-content: center;
	font-size: 150%;
}

input, button {
	font-size: inherit;
	font-family: inherit;
}

input {
	width: 15vw;
	background: var(--myLightGray);
	border: 1pt solid black;
}

.error {
	margin: 2vh 0;
	font-family: 'Roboto', sans-serif;
	color: var(--myRed);
	text-align: center;
}

h1 {margin: 2vh 0;}
.button-wrapper, .link-wrapper {margin: 2vh 0;}