#form-wrapper {
	font-family: inherit;
	display: flex-box;
	background: var(--myWhite);
	width: 60%;
	margin-top: 5%;
	margin-left: 20%;
	border: solid black;
}

form {
	display: flex;
	justify-content: center;
}

input, button {
	font-size: inherit;
	font-family: inherit;
}

input {
	background: var(--myLightGray);
	border: solid black;
}

.error {
	color: var(--myRed);
	text-align: center;
}

#submit-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 2%;
}

#submit-button {
	margin-top: 2%;
	font: inherit;
	color: var(--myBlue);
	/*border: solid black;*/
	/*background: var(--myYellow);*/
	/*border-radius: 30px;*/
}

#link-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 2%;
}

#link {
	width: 10%;
	text-align: center;
}

#link:visited, #link:link {
	color: var(--myBlue);
}