body {
	text-align: justify;
}

h2 {margin: 2% 0; text-align: center;}

.f1 {width: 60%; padding: 0 0 1% 0;}
.f2 {width: 20%; padding: 0 0 1% 5%;}

input, select {
	width: 100%;
	height: 100%;
	font: inherit;
	font-size: inherit;
	background: var(--myLightGray);
	border: 1pt solid black;
}

table {
	width: 100%;
	background-color: var(--myForeground);
	padding: 1%;
	border: 1pt solid black;
}