form {
	height: 70vh;
	border: 2pt solid black;
	overflow: auto;
}
.f1 {width: 60%; font-size: 80%;}
.f2 {width: 20%; font-size: 80%;}
#t1 {color: var(--myPink); font-size: 150%; margin: 2vh 0; text-align: center;}
#t2 {color: var(--myTeal); font-size: 150%; margin: 2vh 0; text-align: center;}
input, select {
	width: 100%;
	height: 100%;
	font: inherit;
	font-size: inherit;
	background: var(--myLightGray);
	border: 1pt solid black;
	font-size: 150%;
}

table {
	width: 100%;
	background-color: var(--myForeground);
	padding: 1%;
	border: 1pt solid black;
	font-size: 150%;
}

.button-wrapper {margin: 3vh 0;}
button {width: 20vw; height: 5vh;}