.teal {color: var(--myTeal);}
.pink {color: var(--myPink);}
.red {color: var(--myRed);}
.green {color: var(--myDarkGreen);}
.black {color: black;}
.fake_bonus {
	color: var(--myBlue);
	background-color: var(--myYellow);
	padding: 0 1vw;
	font-family: 'Roboto', sans-serif;
}

/*Loading page*/
#loadGame {
	grid-row: 1/5;
	grid-column: 1;
	display: flex;
	align-content: center;
	justify-content: center;
}
@keyframes pulse { 0% {opacity: 0.2;} 100% {opacity: 1;}}
#loadCoin {height: 20vh; width: 20vw; animation: pulse 0.3s alternate infinite;}
#loadText {margin-top: 5vh;}
.w {margin-top: 20vh; height: 100%; width: 100%; text-align: center;}

#n-area {
	grid-row: 1/5;
	grid-column: 1;
	width: 80vw;
	height: 80vh;
}

.note, .note-ex {
	position: absolute;
	background: var(--myForeground);
	padding: 1vh 0;
	width: 80vw;
	left: 10vw;
	border: 2pt solid black;
	border-radius: 5px;
	box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
	text-align: center;
	display: flex;
	flex-direction: column;
}
.n-text, .back, .next {
	margin: 0;
	font-size: 150%;
	font-family: 'Jaldi', sans-serif;	
}
.n-nav {
	margin: 2vh 0 0 0;
	width: 100%;
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
}
.back, .next {
	margin: 0;
	padding: 1vh 1vw;
	cursor: pointer;
	align-self: flex-end;
	background-color: var(--myBlue);
	color: var(--myWhite);
	border: 1pt solid black;
	border-radius: 2px;
	z-index: 2;
	box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}
.back:hover, .back:active, .next:hover, .next:active {
	box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
} 
.inactive {color: var(--myGray); cursor: not-allowed;}
#slider-wrapper, #submit {z-index: 1;}


#n0 {top: 35vh;}
#n1 {width: 40vw; top: 55vh; left: 30vw;}
#n2 {top: 20vh;}
#n3 {width: 40vw; top: 30vh; left: 50vw;}
#n4 {top: 80vh;}
#n4_2 {width: 40vw; top: 20vh; left: 50vw;}
#n5 {top: 15vh;}
#n6 {top: 15vh;}
#n7 {width: 40vw; top: 60vh; left: 30vw;}
#n8 {top: 32vh;}

#warning {grid-row: 2; grid-column: 2; width: 100%; text-align: center;}